.data-container {
  margin-top: 24px 65px;
  display: flex;
  flex-direction: column;
}
.data-container .mini-container {
  width: 80%;
  background-color: #F5F7F8;
  margin: 16px;
  color: #000000;
}

@media (min-width: 768px) {
  .data-container {
    margin-top: 24px 65px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .data-container .mini-container {
    width: 30%;
    background-color: #F5F7F8;
    margin: 24px 9px;
    color: #000000;
  }
  .data-container .mini-container .homepage_logo {
    padding: 56px 101px 24px 101px;
  }
  .data-container .mini-container .homepage_titletext {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    height: 104px;
  }
  .data-container .mini-container .homepage_titletext h1 {
    margin-bottom: 12px;
  }
  .data-container .mini-container .homepage_titletext p {
    text-align: center;
  }
  .data-container .mini-container .textbox_container {
    margin-bottom: 24px;
  }
  .data-container .mini-container .textbox_container .events_detail {
    background-color: #E2E2E2;
  }
  .data-container .mini-container .textbox_container .events_detail ul {
    list-style: none;
  }
  .data-container .mini-container .textbox_container .events_detail ul li {
    padding: 6px;
  }
  .data-container .mini-container .textbox_container h4 {
    text-align: center;
    margin: 6px 0;
    font-size: 16px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer {
    background-color: white;
    margin: 12px 0;
    padding: 6px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer h4 {
    text-align: start;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer .view_reaction {
    display: flex;
    justify-content: space-between;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo {
    background-color: white;
    margin: 12px 0;
    padding: 6px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo h4 {
    text-align: start;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo .view_reaction {
    display: flex;
    justify-content: space-between;
  }
  .data-container .mini-container .footer_container h4 {
    text-align: center;
    margin: 6px 0;
  }
  .data-container .mini-container .footer_container .footer_textbox {
    background-color: white;
    padding: 6px;
  }
  .data-container .mini-container .footer_container .footer_textbox h4 {
    text-align: start;
    margin: 6px 0;
  }
  .data-container .mini-container .footer_container .footer_textbox .view_reaction {
    display: flex;
    justify-content: space-between;
  }
  .data-container .textbox_containertwo {
    margin-bottom: 24px;
  }
  .data-container .textbox_containertwo .events_detail {
    background-color: white;
    padding: 6px;
    margin: 12px 0;
  }
  .data-container .textbox_containertwo .events_detail h4 {
    text-align: start;
  }
  .data-container .textbox_containertwo .events_detail ul {
    list-style: none;
  }
  .data-container .textbox_containertwo .events_detail ul li {
    padding: 6px;
  }
  .data-container .textbox_containertwo h4 {
    text-align: center;
    margin: 6px 0;
    font-size: 16px;
  }
  .data-container .textbox_containertwo .textbox_minicontainer {
    background-color: #E2E2E2;
    margin: 12px 0;
  }
  .data-container .textbox_containertwo .textbox_minicontainer h4 {
    text-align: start;
  }
  .data-container .textbox_containertwo .textbox_minicontainertwo {
    background-color: #E2E2E2;
    margin: 12px 0;
  }
}
@media (min-width: 1280px) {
  p {
    color: #474747;
    padding-bottom: 0;
  }

  h4 {
    padding-bottom: 0;
  }

  .data-container {
    justify-content: space-evenly;
  }
  .data-container .mini-container {
    width: 300px;
    border-radius: 6px;
    padding: 16px;
    margin: 0;
  }
  .data-container .mini-container .homepage_logo img {
    border-radius: 6px;
  }
  .data-container .mini-container .footer_container h4 {
    font-size: 16px;
  }
  .data-container .mini-container .footer_container .footer_textbox {
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 16px;
    color: #242424;
  }
  .data-container .mini-container .footer_container .footer_textbox .textbox_text h4 {
    margin: 0 0 8px 0;
  }
  .data-container .mini-container .footer_container .footer_textbox .textbox_text p {
    font-size: 12px;
  }
  .data-container .mini-container .footer_container .footer_textbox img {
    width: 8.05px;
    height: 16px;
  }
  .data-container .mini-container .footer_container .footer_textbox .view_comments {
    display: flex;
  }
  .data-container .mini-container .footer_container .footer_textbox .view_comments .views_container {
    display: flex;
    margin-right: 16px;
  }
  .data-container .mini-container .footer_container .footer_textbox .view_comments .views_container img {
    width: 13.33px;
  }
  .data-container .mini-container .footer_container .footer_textbox .view_comments .comments_container {
    display: flex;
  }
  .data-container .mini-container .footer_container .footer_textbox .view_comments .comments_container img {
    width: 13.33px;
  }
  .data-container .mini-container .footer_container h4 {
    margin: 24px 0 8px 0;
  }
  .data-container .mini-container .footer_containerthree h4 {
    font-size: 16px;
  }
  .data-container .mini-container .footer_containerthree .footer_textbox {
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 16px;
    color: #242424;
    background-color: white;
  }
  .data-container .mini-container .footer_containerthree .footer_textbox h4 {
    text-align: start;
    font-size: 16px;
  }
  .data-container .mini-container .footer_containerthree .footer_textbox p {
    font-size: 12px;
  }
  .data-container .mini-container .footer_containerthree .footer_textbox img {
    width: 8.05px;
    height: 16px;
  }
  .data-container .mini-container .footer_containerthree .footer_textbox .view_comments {
    display: flex;
  }
  .data-container .mini-container .footer_containerthree .footer_textbox .view_comments .views_container {
    display: flex;
    margin-right: 16px;
    align-items: baseline;
  }
  .data-container .mini-container .footer_containerthree .footer_textbox .view_comments .views_container img {
    width: 13.33px;
  }
  .data-container .mini-container .footer_containerthree .footer_textbox .view_comments .comments_container {
    display: flex;
    align-items: baseline;
  }
  .data-container .mini-container .footer_containerthree .footer_textbox .view_comments .comments_container img {
    width: 13.33px;
  }
  .data-container .mini-container .footer_containerthree h4 {
    margin: 0 0 8px 0;
    text-align: center;
  }
  .data-container .mini-container .textbox_container {
    margin-bottom: 48px;
  }
  .data-container .mini-container .textbox_container h4 {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
  }
  .data-container .mini-container .textbox_container p {
    color: #242424;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer {
    border-radius: 6px;
    margin: 8px 0 16px 0;
    padding: 16px;
    display: flex;
    align-items: center;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer .textbox_arrow img {
    width: 8.05px;
    height: 16px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer h4 {
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    margin: 0 0 8px 0;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer p {
    font-size: 12px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer .view_comments {
    display: flex;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer .view_comments .views_container {
    display: flex;
    margin-right: 16px;
    align-items: baseline;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer .view_comments .views_container img {
    width: 13.33px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer .view_comments .comments_container {
    display: flex;
    align-items: baseline;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainer .view_comments .comments_container img {
    width: 13.33px;
  }
  .data-container .mini-container .textbox_container .textbox_thirdcontainer {
    border-radius: 6px;
    margin: 8px 0 16px 0;
    padding: 16px;
    background-color: white;
    display: flex;
    align-items: center;
  }
  .data-container .mini-container .textbox_container .textbox_thirdcontainer .textbox_arrow img {
    width: 8.05px;
    height: 16px;
  }
  .data-container .mini-container .textbox_container .textbox_thirdcontainer h4 {
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    margin: 0;
    text-align: left;
    margin: 0 0 8px 0;
  }
  .data-container .mini-container .textbox_container .textbox_thirdcontainer p {
    font-size: 12px;
  }
  .data-container .mini-container .textbox_container .textbox_thirdcontainer .view_comments {
    display: flex;
  }
  .data-container .mini-container .textbox_container .textbox_thirdcontainer .view_comments .views_container {
    display: flex;
    margin-right: 16px;
    align-items: baseline;
  }
  .data-container .mini-container .textbox_container .textbox_thirdcontainer .view_comments .views_container img {
    width: 13.33px;
  }
  .data-container .mini-container .textbox_container .textbox_thirdcontainer .view_comments .comments_container {
    display: flex;
    align-items: baseline;
  }
  .data-container .mini-container .textbox_container .textbox_thirdcontainer .view_comments .comments_container img {
    width: 13.33px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo {
    border-radius: 6px;
    margin: 16px 0 24px 0;
    padding: 16px;
    display: flex;
    align-items: center;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo .textbox_arrow img {
    width: 8.05px;
    height: 16px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo h4 {
    margin: 0 0 8px 0;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo p {
    font-size: 12px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo .view_comments {
    display: flex;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo .view_comments .views_container {
    display: flex;
    margin-right: 16px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo .view_comments .views_container img {
    width: 13.33px;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo .view_comments .comments_container {
    display: flex;
  }
  .data-container .mini-container .textbox_container .textbox_minicontainertwo .view_comments .comments_container img {
    width: 13.33px;
  }
  .data-container .mini-container .textbox_containertwo h4 {
    margin: 0;
    color: #242424;
  }
  .data-container .mini-container .textbox_containertwo .events_textbox {
    margin-top: 8px;
  }
  .data-container .mini-container .textbox_containertwo .events_textbox .events_detail {
    padding: 16px;
    margin: 0 0 8px 0;
    border-radius: 6px;
  }
  .data-container .mini-container .textbox_containertwo .events_textbox .events_detail a h4 {
    margin: 0;
  }
  .data-container .mini-container .textbox_containertwo .events_textbox .events_detail a .event_Text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .data-container .mini-container .textbox_containertwo .events_textbox .events_detail a .event_Text h4 {
    width: 90%;
    padding-bottom: 8px;
  }
  .data-container .mini-container .textbox_containertwo .events_textbox .events_detail a .event_Text img {
    width: 8.05px;
    height: 16px;
  }
  .data-container .mini-container .textbox_containertwo .events_textbox .events_detail ul li {
    padding: 16px 0 24px;
  }
  .data-container .mini-container .textbox_containertwo .events_textbox .events_detail ul .list-icon {
    display: flex;
    align-items: baseline;
  }
  .data-container .mini-container .textbox_containertwo .events_textbox .events_detail ul .list-icon li {
    margin-left: 9.33px;
  }
  .data-container .mini-container .textbox_containertwo .events_textbox .events_detail ul .list-icon img {
    width: 13.33px;
    height: 13.33px;
  }
  .data-container .mini-container .homepage_logo {
    display: flex;
    justify-content: center;
  }
  .data-container .mini-container .homepage_logo img {
    width: 64px;
    height: 64px;
    padding: 34px;
    background-color: white;
  }
  .data-container .mini-container .homepage_titletext {
    margin-bottom: 48px;
  }
  .data-container .mini-container .homepage_titletext h1 {
    font-size: 32px;
    line-height: 38.73px;
    margin-bottom: 24px;
  }
  .data-container .mini-container .homepage_titletext p {
    font-size: 16px;
    line-height: 24px;
  }
}/*# sourceMappingURL=Documents.css.map */