*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Inter';
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto:wght@700&display=swap');


