@use '../../styles/colors-fonts' as *;

.policies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &-container{
        max-width: 513px;
        min-width: 475px;
        height: 176px;
        padding: 15px;
        background-color: $light-blue;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 64px;
            height: 64px;
            padding-right: 10px;
        }

    }

    &-content{
        max-width: 272px;
    }
    

    a{
        color: $black;
        text-decoration: none;

        padding-bottom: 29px;
    }
}