.form{
    max-width: 1280px;

    margin: 24px auto;
    form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .searchBar{
        display: flex;
        align-items: center;
        position: relative;
        left: 6px;
        img{
            width: 24px;
            height: 24px;
            padding: 16px;
            background-color: #BDCCD4;
            border-radius: 0px 10px 10px 0px;
            position: relative;
            right: 10px;
        }
        input{
            width: 876px;
            height: 56px;
            background-color: #F2F5F6;
           
            border: none;
            border-radius: 11px;
        }
        
    }
        .userlogo{
            width: 5%;
            background-color: #29554D;
            border-radius: 50%;
            padding: 5px;

    
    }
    
    .header-icons{
        display: flex;
        position: relative;
        
       .userlogo_settings{
           margin-right: 0;
       }
        img{
            width: 32px;
            height: 32px;
            margin-right: 12px;
        }
    }
}
}