$light-blue: #F5F7F8;
$green: #29554D;
$brick: #A84E2F;
$black: #242424;
$grey: #474747;
$white: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');